.navbar_container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.top {
    background-color: var(--dgrey);
    height: 35px;
    color: var(--lgrey);
}

.mid {
    height: 95px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 75%);;
}

.bot {
    justify-content: center;
}

.bot a {
    color: var(--black);
}

.scrolled {
    display: grid;
    grid: auto-flow / .5fr 3fr .5fr;
    justify-items: center;
    top: 0;
    height: 60px;
    padding: 0 1.2em;
    width: 100%;
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 75%);;
}


.scrolled img{
    max-width: 200px;;
}