.ad {
    position: relative;
    margin: 2em 0;
}

.ad:after {
    content: '';
    position: absolute;
    background: linear-gradient(
            90deg,
            rgba(255,255,255,0) 0%, 
            var(--lgrey) 10%, 
            var(--lgrey) 90%, 
            rgba(255,255,255,0) 100%
        );
    width: 98vw;
    height: calc(100% + 2em);
    top: -1em;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}