.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.max_none {
    max-width: none;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}